services:
  
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: app_user
      POSTGRES_DB: app_db
      POSTGRES_PASSWORD: app_password

  api:
    build:
      .
    entrypoint: ./entrypoint.sh
    ports:
      - "8000:8000"
    depends_on:
      - "db"
    environment:
      DATABASE_URL: postgresql+psycopg://app_user:app_password@db:5432/app_db
    volumes:
      - .:/app

volumes:
  pgdata: